
.App {
  text-align: center;
  /*background-image: url('https://images.pexels.com/photos/65210/beer-a-pint-cup-alcohol-65210.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: cover;
  height: 100% !important;*/
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.form-control{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png');

}
.navbar{
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png');
  border-color: transparent;
  color: #ffffff;
}
a.menu-links{
  text-decoration: none;
  color: #ffffff;
}
.table{
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png');
  color: #ffffff;
  border-color: #191919 !important;
}
.home{
  color: #fff;
}
#footer {
  margin-top: 145px;
  bottom: 0 !important;
  width: 100%;
  position: relative;
  height: 60px;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png');
  color: #ffffff;
}
.footer-block{
  padding-top: 20px;
  color:#ffffff;
}
.order-item{
  display: flex;
  background-color: transparent;
}
.order-item-name{
  margin-right: 25px;
  margin-left: 10px;
}
.order-func{
  display: flex;
  margin-right: 80px;
  margin-top: 12px;
}
.qbutton{
  margin-left: 5%;
  margin-right: 20%;
  padding: 1%;
  width: 30px;
  height: 30px;
}
.h{
  color: #ffffff;
}
.panel{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png');
    color: #ffffff;
}
.panel-heading{
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png');
    color: #ffffff;
}


video#vid {
 position: fixed; 
 right: 0; 
 bottom: 0;
 min-width: 100%; 
 min-height: 100%;
 width: auto !important; 
 height: auto !important; 
 z-index: -100;
 background-size: cover;
 margin: 0 auto;
}